[Unit]
Description=Starlight Rust Backend
After=database.service

[Service]
Type=simple
User=ec2-user
Group=ec2-user
ExecStartPre=/bin/sleep 30
ExecStart=/home/ec2-user/starlight/starlight
StandardOutput=append:/var/log/starlight/backend.log
StandardError=append:/var/log/starlight/backend.log
Restart=on-abort
WorkingDirectory=/home/ec2-user
Environment=RUST_LOG=info

[Install]
WantedBy=multi-user.target
