[Unit]
Description=Starlight Rust Backend
After=network.target

[Service]
Type=simple
User=ec2-user
Group=ec2-user
ExecStart=/bin/sh -c 'exec /home/ec2-user/starlight/starlight >> /var/log/starlight.log 2>>/var/log/starlight.log'
Restart=on-abort
WorkingDirectory=/home/ec2-user
Environment=RUST_LOG=info

[Install]
WantedBy=multi-user.target
